JELLYFIN_USERNAME="jellyfin-user"
JELLYFIN_PASSWORD="changeme"
JELLYSEERR_EMAIL="jellyseerr-user@example.com"
RADARR_USERNAME="radarr-user"
RADARR_PASSWORD="changeme"
SONARR_USERNAME="sonarr-user"
SONARR_PASSWORD="changeme"
PROWLARR_USERNAME="prowlarr-user"
PROWLARR_PASSWORD="changeme"
QBITTORRENT_USERNAME="qbittorrent-user"
QBITTORRENT_PASSWORD="changeme"

ROOT_DIR_OVERRIDE=""

# JELLYFIN_EXTERNAL_URL="http://example.com:8096"
# RADARR_EXTERNAL_URL="http://example.com:7878"
# SONARR_EXTERNAL_URL="http://example.com:8989"
