JELLYFIN_USERNAME="jellyfin-user"
JELLYFIN_PASSWORD="changeme"
JELLYSEERR_EMAIL="jellyseerr-user@example.com"
RADARR_USERNAME="radarr-user"
RADARR_PASSWORD="changeme"
SONARR_USERNAME="sonarr-user"
SONARR_PASSWORD="changeme"
PROWLARR_USERNAME="prowlarr-user"
PROWLARR_PASSWORD="changeme"
QBITTORRENT_USERNAME="qbittorrent-user"
QBITTORRENT_PASSWORD="adminadmin"

ROOT_DIR=./root
